<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NUEVO HOTEL</title>
</head>
<body>
    <h1>NUEVO HOTEL ...</h1>
    {% if nuevo_h.errors %}
    <p style="color: red;">Estan mal los datos!!! </p>
    {% endif %}
    <form action="/IRUTUR/nuevo_hotel/" method="POST" encrype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ nuevo_h.as_table }}
        </table>
    
    <input type="submit" value="CONFIRMAR HOTEL">
    </form>
    <a href="/IRUTUR/nueva-habit/">Agregar una HABITACION</a>
</body>
</html>