{% extends 'inicio.html' %}

{% load static %}

{% block codigoDinamico1 %}

    {% for i in elements %}
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-5 rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Habitacion disponible </span>
                                <span class="section-heading-lower">HOTEL - {{i.nombre}}</span>
                            </h2>
                            <p class="mb-0"> Ubicacion: {{i.ubucacion}} <br> Calificacion: {{i.calif}}<br> Estrellas: 4 <br> 
                            </p>
                            <div class="intro-button mx-auto"><a class="btn btn-secundary btn-xl" href="{% url 'inicio' %}">Visitar !</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}



{% endblock %}

