<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NUEVO CUARTO</title>
</head>
<body>
    <h1>NUEVA HABITACION ...</h1>
    {% if nuevo_ha.errors %}
    <p style="color: red;">Estan mal los datos!!! </p>
    {% endif %}
    <form action="/IRUTUR/nueva-habit/" method="POST">{% csrf_token %}

        <table>
            {{ nuevo_ha.as_table }}
        </table>
    
    <input type="submit" value="Enviar">
    </form>
</body>
</html>