{% extends 'inicio.html' %}

{% load static %}

{% block codigoDinamico1 %}

        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-5">
                                <span class="section-heading-upper">HOTEL </span>
                                <span class="section-heading-lower">{{form.nombre}}</span>
                            </h2>
                            <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                                {% if i.imagen %}
                                <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{{form.imagen.url}}" alt="..." />
                                {% else %}
                                <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'assets\img\hotelbase.jpg' %}" alt="..." />
                                {% endif %}
                                <p class="mb-0">
                                    <small><em>Visite nuesto establecimiento</em></small>
                                    <br />
                                    Los descuentos Genius en este alojamiento dependen de las fechas de reserva, las fechas de estancia y otras ofertas disponibles. 
Este establecimiento boutique presenta una decoración típica, al estilo rústico argentino, y está ubicado en torno a un patio empedrado. Se ofrecen excursiones de senderismo guiadas y servicio de alquiler de bicicletas. 
Las habitaciones del  Hotel  {{form.nombre}} incluyen alfombras de piel, lámparas ornamentales y mobiliario de madera maciza. Todas están equipadas con aire acondicionado, TV por cable, calefacción y conexión Wi-Fi gratuita.
                                </p>
                            </ul>
                            <p class="address mb-5">
                                <em>
                                    <strong>Ubicacion de esta estancia es {{form.ubucacion}}</strong>
                                    <br />
                                    calificacion: {{form.calif}}
                                </em>
                            </p>
                            <p class="mb-0">
                                <small><em>nuestro contacto</em></small>
                                <br />
                                Tel: (387) 453-0551
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section about-heading">
            <div class="container">
                <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'assets\img\iruya1.jpg' %}" alt="..." />
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded rounded p-5">
                                <h2 class="section-heading mb-4">
                                    <h1>Ubicacion de Hotel {{form.nombre}} </h1>
                                    <div id="map"></div>
                                    <script>
                                        var map = L.map('map').setView([-22.79189, -65.21703], 10); // Coordenadas de Iruya
                                        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                                        }).addTo(map);
                                        L.marker([-22.79189, -65.21703]).addTo(map)
                                        .bindPopup('IRUYA')
                                        .openPopup();
                                    </script>
                                    <span class="section-heading-upper">ESTE MAPA MUESTRA LA UBICACION DE EMPRESA</span>
                                    <br>
                                    <span class="section-heading-lower">IRUTUR - VIAJES Y ESCURCIONES</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


{% endblock %}
