{% extends 'inicio.html' %}

{% load static %}
{% block codigoDinamico1 %}
    <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-5 rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper"> NUEVO HOTEL</span>
                            </h2>
                            <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="{% url 'nuevohotel' %}"> Ingresar !</a></div>
                        </div>
                        <div class="bg-faded p-5 rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper"> MODIFICA HOTEL</span>
                            </h2>
                            <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="{% url 'nuevohotel' %}"> Modificar !</a></div>
                        </div>
                        <div class="bg-faded p-5 rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper"> ELIMINA HOTEL</span>
                            </h2>
                            <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="{% url 'nuevohotel' %}"> Eliminar !</a></div>
                        </div>
                    </div>
                </div>
            </div>
            
    </section>
{% endblock %}